body {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 12px;
    text-align: center;
}

#check {
    border: none;
    padding: 3px 12px;
    background: black;
    color: #fff;
    padding: 5px 20px;
    box-shadow: 1px 1px 3px blue;
    margin-left: 15px;
    font-size: large;
}

#result {
    margin-left: 15px;
    color: darkcyan;
}

#check:hover {
    background-color: #ccc;
}

input {
    box-shadow: 1px 1px 3px blue;
    margin-bottom: 8px;
    padding: 3px 8px;
    border: none;

}

input:hover {
    background-color: #f3f0f0;
    box-shadow: 1px 1px 3px grey;
}